APP_NAME=skeleton
APP_ENV=dev
APP_TIMEZONE=America/Sao_Paulo

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=root
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=redis
REDIS_AUTH=
REDIS_PORT=6379
REDIS_DB=0

MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_TIMEOUT=5
MAIL_FROM_ADDRESS=no-reply@api-pix.local

OBSERVABILITY_HOST="http://uptime-kuma:3001"
OBSERVABILITY_TOKEN=